.music-container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 30%;
    background-color: #333;
    
    color: var(--txt);
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    /* overflow-y: auto; */
}

.song-list {
    list-style: none;
}

.song-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.song-list li:hover {
    background-color: var(--sec);
}

.right-panel {
    width: 70%;
    /* background-color: #fff; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-y: auto; */
}

#song-description {
    font-size: 18px;
    /* color: #333; */
}