.music-container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 30%;
    /* background-color: #333; */
    
    color: var(--txt);
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    /* overflow-y: auto; */
}

.song-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.song-list li {
    --hover: #4B5D75;
    --sec: #87CEEB; 
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-bottom: 1px solid var(--hover);
    font-size: 18px;
}

.song-list li:hover {
    --hover: #4B5D75;
    --sec: #87CEEB; 
    background-color: var(--hover);
    color: var(--sec);
    transform: translateX(5px);
}

.right-panel {
    width: 70%;
    /* background-color: #fff; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-y: auto; */
}

#song-description {
    font-size: 18px;
    /* color: #333; */
}

.mobile-view-list{
    display: none;
}
@media screen and (max-width:768px) {
    
    .right-panel{
        /* background-color: aliceblue; */
        width: 100%;
    }
    .music-container .left-panel{
        display: none;
    }

    .mobile-view-list{
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .mobile-view-list .left-panel{
        width:100%;
    }
}