.navbar {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    padding: 10px 20px;
    position: relative;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin: 0 27px;
}

.navbar-menu a {
    color: var(--txt);
    text-decoration: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar-button .btn {
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.navbar-toggle {
    display: none;
}

.toggle-icon {
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
}
.navbar-button{
    display: flex;
    gap:10px;
}

.darkmode{
    color: var(--txt);
    text-decoration: none;
    font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .navbar-menu {
        z-index: 10;
        display: flex;
        transform: scale(0);
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(51, 51, 51, 1);
        transform-origin: top right;
        transition: all 300ms;
    }

    .navbar-menu li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
        color: #007bff;
    }

    .navbar-button .btn{
        display: none;
    }
    .navbar-menu.navbar-menu.active{
        display: flex;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .navbar-menu.active {
        display: flex;
    }
}